
body {
    cursor: none;
  }
  
  .cursor {
    position: fixed;
    /* background-color: transparent; */
    pointer-events: none; 
    z-index: 9999;
    transform: translate(-50%, -50%);
  }
  .cursor-icon{
    transform: translate(-50%, -50%);
    border-radius: 50%;
    backdrop-filter: invert(1) brightness(2.0);
    background-color: rgba(255, 255, 255, 0.155);
  }
  .cursor svg{
    color: rgb(0, 0, 0);
  }
  @media (pointer: coarse) {
    .cursor {
      display: none; 
    }
  }