body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    cursor: none;
  }
  html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }